
<div class="row d-flex justify-content-around">

    <div class="col-12 col-md-11 p-4 border border-primary rounded col-margins">
        <details>
            <summary class="h5 text-success">
                    Welcome to your own personal HQ, dear Raid Leader !
                    Click here to learn more about your Raid Leader privileges.
            </summary>
            <p>
                <br>
                You can plan the invasion of The Outland from here.
                For now, this page will mainly be used to create raid templates (so you don't have to input all the data every time),
                create and manage raid events, but we'll try to add more cool stuff over time.
                <br><br>
                Also, in case you meet players in game that you did not enjoy playing with,
                you can add them to the list of people you want to prevent from attending your raids.
                They will be forwarded a small and polite message, when trying to join one of your raids,
                saying that they do not correspond to the type of players you are looking for.
                <br><br>
                I'd also like to add that you do not have to justify yourself. You might just decide to add someone to this
                list simply because you don't like him. This project is all about being able to play with people we enjoy playing with, to begin with.
                <br><br>
                I am insisting though on the fact that you have to remain polite and show a minimum of respect to everyone, even people you dislike,
                or you might end up losing your Raid Leader privileges on this web app.
                Arguing once with someone who got on your nerves when you were tired is something.
                Being homophobic is another thing though (among other things that won't be tolerated).
                Simply arguing will be tolerated, we're human beings, we can get it. Second one might get you banned from this web app entirely.
            </p>
        </details>
    </div>
</div>
