{% extends 'base.html.twig' %}

{% block title %}Ban hammer{% endblock %}

{% block banner_title %}
	<h1>Ban hammer</h1>
{% endblock %}

{% block body %}
    <main class="container bg-dark">
        <div class="row col-12">
            <a class="btn btn-primary rounded-pill btn-lg" href="{{ path('raidleader_events')}}">Back to RL HQ</a>
        </div>

        <h4> Ban of futures raid - Player list </h4>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user.blockeds %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>
                            <a href="{{ path('raidleader_manage_participant_ban_hammer', {id: user.id }) }}">Unban</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
