{% extends 'base.html.twig' %}

{% block title %}Calendar{% endblock %}

{% block custom_scripts %}
    <script defer src="{{asset('js/calendar.js')}}"></script>
{% endblock %}

{% block banner_title %}
    <h1>Calendar</h1>
{% endblock %}

{% block body %}

<main class="container bg-dark">
    <calendar-wrapper>
        {{ include('event/_calendar.html.twig') }}
    </calendar-wrapper>

    <raid-wrapper>
        {{ include('event/_raid_list.html.twig')}}
    </raid-wrapper>
</main>
{% endblock %}
