{% extends 'base.html.twig' %}

{% block title %}About us{% endblock %}

{% block banner_title %}<h1>About us</h1>{% endblock %}

{% block body %}

<p class="p-3 border rounded border-primary">
    Before anything else, some credits are in order. I'd like to thank my two mentors,
    Quasar and Kulvar, for their help and support over the past two years. They taught me a lot about web development,
    and this project wouldn't exist without them. I also owe a lot to my loved one, Rachel, who spent entire weeks coding with me
    so the app would be ready in time for The Burning Crusade classic.
    <br><br>
    Hugs to you three !
</p>
<p>
    <br>
    Community Project was, before it was an app, a concept : I soon realised that in classic, the social aspect was very important,
    and I ended up having a lot of friends in many different guilds. I couldn't play much with them though, since when you're managing
    a guild and mainly focusing on raiding, you don't get to spend much time with them if you have also have a busy real life.
    <br><br>
    When you don't share a guild chat, it's hard to keep in touch and play regularly with each other. You end up mainly raiding, not necessarely only with people you like, and it soon becomes a chore.
    <br><br>
    You have to prepare to get DM buffs, sometimes more than two hours before the raid. Then wait. Walk around the world / take portals
    / ask for summons. In the end you spend more time getting buffs supposed to speed up the raid than they actually speed up the raid.
    <br><br>
    Things can quickly become dull when you're not surrounded by the right people. But you want to stay with your guild anyway because
    they invested in you. You don't want to betray their trust and expectations, but you're not really having fun.
    <br><br>
    If some or all of this sounds a bit too familiar, you can easily understand why I wanted to find a solution in order to play with my friends
    in other guilds, and yes, that includes raiding with them frequently.
    <br><br>
    When I first started to imagine how I could achieve that, I started thinking about this app. Let me tell you how useful it's going to be.
    <br><br>
    Think about the beginning of TBC Classic. When we will all attack TBC, not every community out there will have 10 people ready to tackle Karazhan at the same time.
    Sometimes you will have only 8, and you will need 2 more. Sometimes you will have 12, and those 2 extra people will need a raid outside their guild.
    Even when you'll have 20 raiders in your roster, you'll need 5 extra to start 25-men raids early. Then you'll need to find raids for your alts. And so on.
    <br><br>
    This is what this project is all about. Helping you organise, manage or just find raids at all times with people you like,
    outside or inside your guild. The more guilds participate, the better. If we could have one centralised hub for most pugs on the server,
    this project will quickly thrive and be useful to everyone.
    <br><br>
    Depending on how it goes, I'll add more functionalities to the app over time. Let's all have fun together in World of Warcraft !
    <br><br>
    PS : For now, it's restricted to Hydraxian Waterlords (then the TBC version) and alliance side. If it works well for us, we'll find ways to share it with others too.
</p>

{% endblock %}
