{% extends 'base.html.twig' %}

{% block title %}Forgot password{% endblock %}

{% block body %}
	<div class="row d-flex justify-content-around">
		<div class="col-lg-4 col-md-10 col-margins p-0 mt-4">
			<form class="p-4 border border-primary rounded" method="post">

				<fieldset>
					<legend class="text-center">Change your password</legend>

					<label for="inputPassword">Password</label>
					<input type="password" name="password" id="inputPassword" class="form-control mb-1" required>

					<label for="inputRepeatPassword">Repeat your password</label>
					<input type="password" name="password_confirm" id="inputRepeatPassword" class="form-control mb-1" required>
				</fieldset>

				<div class="d-flex justify-content-center mt-4">
					<button type="submit" class="btn btn-primary rounded-pill btn-lg">Submit</button>
				</div>

			</form>
		</div>
	</div>
{% endblock %}
