{% extends 'base.html.twig' %}

{% block title %}Forgot password{% endblock %}

{% block body %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger text-center mb-2">
            {{ message }}
        </div>
    {% endfor %}

    <div class="row d-flex justify-content-around">
        <div class="col-lg-4 col-md-10 col-margins p-0 mt-4">
            <form class="p-4 border border-primary rounded" method="post" action="{{ path('password_forgotten') }}">

                <fieldset>
                    <legend class="text-center">Forgot password</legend>

                    <label for="inputEmail">Email address</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp" value="{% if last_username is defined %}{{ last_username }}{% endif %}" name="email" id="inputEmail" required autofocus>
                </fieldset>

                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-primary rounded-pill btn-lg">Submit</button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
