{% extends 'base.html.twig' %}

{% block title %}Terms of use & Privacy Policy{% endblock %}

{% block body %}
<h1 class="text-center"> Legal mentions, terms of use & disclaimers </h1>

<h3 class="text-success mt-5"> About this site </h1>
<p>
    This web app is a two-persons project, currently in test, and not in its final version. Consider it an Alpha. <br>
    Remember it is just a fan-made web app which goal is to help World of Warcraft players create, 
    manage, or just find raids on their server and faction for all their characters. <br>
    A more detailed explanation as of what this project is all about and how it came to life can be found 
    <a href="{{path('about_us')}}"> in this page</a>. <br> 
    This website is meant to be used for those purposes only.
</p>

<h3 class="text-success mt-5"> Copyright </h1>
<p> 
     We do not allow copy or reproduction of this website without 
    our explicit, written consent. <br> 
    Any unwarranted or downright illegal activity could lead to legal pursuits. <br> 
    This website and its content is the intellectual property of its owners : Michael Donati and Rachel Michel.
</p>

<h3 class="text-success mt-5"> Terms of use </h1>
<p>
    We reserve the right to ban any user whose behavior we deem unacceptable, without forewarning, explanation, 
    or information. <br> 
    We do not have enough time or resources to track all kinds of offensive behaviors (like offensive or racist usernames) 
    and as such, cannot promise that all the content of this website will be deemed acceptable for everyone and that
    nothing will be considered offensive.<br> 
    We will not be responsible for it, so take it as it is, or don't use it, as there is little we can do about it with our 
    current manpower. <br> 
    Also, we cannot promise that there will not be bugs, that all the dates and times will always be 100% 
    accurate (in case we failed to properly code time zones) and so on. We'll do our best though, but that's it. 
</p>

<h3 class="text-success mt-5"> Cookies </h1>
<p> 
    The only cookies we use are mandatory to facilitate the user experience, may it be to allow you to automatically log in
    when you arrive on the website, or to make the calendar work properly. <br> 
    We do not use cookies to gather personal data in any way - which is why you don't get a message when you access the website 
    asking you to allow us to gather your personal data... we just don't. We would have no use for them anyway ! <br> <br> 

    We are not currently using tools like Google Analytics to track attendance to the website, but might in the near future. 
    This page will be updated as soon as we decide to use Google Analytics or similar tools, if we ever do.
</p>

<h3 class="text-success mt-5"> Datas managment </h1>
<p>
    The only personnal datas we will store is your timezone, username, Email address, and encrypted password on a secured database in Switzerland. <br> 
    It will not be shared to third parties, and will only be used to manage your account on this website. <br> 
    We will not spam you with Emails, and especially not advertisement ones. <br> 
    You might occasionally receive news related to the news functionalities we will develop, but that's it. <br><br>

    If you want all your data to be erased, you do not have to contact us directly. <br>
    Just can delete your account yourself by clicking the relevent button on 
    <a href="{{path('user_account')}}"> your profile page</a>.
</p>

<h3 class="text-success mt-5"> Update </h1>
<p>
    We reserve the right to modify this page regularly, extensively, and without forewarning or notice, as the website 
    will keep evolving. We advise you to frequently look at it to keep up with the changes.
</p>
{% endblock %}
