
<div id="raidList" class="row d-flex justify-content-around">
    <div class="col-12 col-md-11 p-md-4 p-xs-1 border border-primary rounded col-margins">

        {% set showManageRaidLinks = false %}

        {% if inProgressRaids %}
            <h2 class="text-center h3">Raid currently happening</h2>
            {% set raids = inProgressRaids %}
            {{ include('raid_parts/_table_raid.html.twig') }}
        {% endif %}
        
        {% set showManageRaidLinks = true %}

        {% if forthcomingRaids %}
            <h2 class="text-center h3">Forthcoming raids</h2>
            {% set raids = forthcomingRaids %}
            {{ include('raid_parts/_table_raid.html.twig') }}
        {% endif %}

        {% if raids is not defined %}
            <h2 class="text-center h3">Forthcoming raids</h2>
            <div class="row p-2 p-md-4 pl-md-5 pr-md-5 mt-2 mb-5 ml-md-5 mr-md-5">
                <p class="m-auto text-center">
                    It seems that you didn't create any raid yet
                </p>
            </div>
        {% endif %}

    </div>
</div>
