
<div class="row d-flex justify-content-around">

    <div class="col-12 col-md-11 p-4 border border-primary rounded col-margins">
        <details>
            <summary class="h5 text-success">
                    Click here if you want to learn more about the Raid Template system !
            </summary>
            <p>
                <br>
                The Raid Template List above, as its name implies, will contain all of your saved raid templates.
                By default, it only contains a standard Wednesday Karazhan raid template that is pre-filled with the following data :
                <br><br>
                No character saved as raid-leader. Raid type is : "10".
                <br>
                Minimum and maximum of two tanks. Minimum of 2 healers and maximum of 3 healers.
                <br>
                Default day of the week is set to wednesday, beginning at 20h, server time.
                <br><br>
                It will also contain a basic example of Raid Leader Notes that you can use for a basic Karazhan pug raid.
                <br><br>
                You can load it by clicking the Edit/Load button next to it in the table above.
                <br><br>
                I encourage all raid leaders to create their own custom templates for all the raids they want to regularly manage,
                    for obvious reasons.
            </p>
        </details>
    </div>
</div>
