
<div class="row d-flex justify-content-around">

    <div class="col-12 col-md-11 p-4 border border-primary rounded col-margins">
        <details>
            <summary class="h5 text-success">
                Welcome to the calendar page
            </summary>

            <p>

            </p>
        </details>
    </div>
</div>
