
<div class="row mb-4 mx-0">
    <div class="col-lg-6 col-md-11 text-center">
        <div class="col-md-12 text-center p-0">
            {% set role = tanks %}
            {% set roleName = 'tanks' %}
            {{ include('raid_parts/_character_list_table.html.twig') }}
        </div>

        <div class="col-md-12 text-center p-0">
            {% set role = healers %}
            {% set roleName = 'healers' %}
            {{ include('raid_parts/_character_list_table.html.twig') }}
        </div>
    </div>

    <div class="col-lg-6 col-md-11 text-center">
        {% set role = dps %}
        {% set roleName = 'DPS' %}
        {{ include('raid_parts/_character_list_table.html.twig') }}
    </div>
</div>