
<ragnaros-animation class="container d-flex justify-content-center bg-dark position-static">

    <video class="container" src="{{asset('videos/background.mp4')}}" autoplay muted loop></video>

    <img class="container" src="{{asset('images/jpg/backgrounds/stormwind.jpg')}}"
        alt="Stormwind, human capital city in World of Warcraft">

    <page-title class="align-self-center p-0">
        <span>
            Welcome to Diana's
        </span>
        <h1>Community Project</h1>
    </page-title>

</ragnaros-animation>
