
<tbc-banner class="container d-flex justify-content-center bg-dark position-static">

	<img class="container p-0" src="{{asset('images/jpg/backgrounds/wei-wang-dark-portal-cropped.jpg')}}"
		alt="Stormwind, human capital city in World of Warcraft">

	<page-title class="align-self-center p-0">
		<span>
			Welcome to Diana's
		</span>
		<h1>Community Project</h1>
	</page-title>

</tbc-banner>
