{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block banner_title %}
	<h1>Account</h1>
{% endblock %}

{% block body %}

<main class="container bg-dark">

	{{ include('user/_form_account.html.twig') }}
	{{ include('user/_character_list.html.twig') }}
	{{ include('user/_form_character.html.twig') }}
	{{ include('user/_raid_schedule.html.twig') }}

</main>

{% endblock %}
