
<div style="background-color: #303030; color: white; border: solid 5px #375a7f; border-radius: 10px; padding: 20px;">
    <h1 style="color: #00bc8c;">Diana's Community Project</h1>

    <p style="font-size: 18px;">
        Hi {{ user }} !<br>
        Confirm your subscription by <a href="{{ url }}" style="color: #00bc8c;"> clicking on this link </a>
    </p>
</div>
